---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
  firstName: "Mars",
  country: "United States",
  occupation: "Student",
  hobbies: ["meditation", "hiking", "gaming"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
  "Linux",
  "Pentesting",
];
---

<BaseLayout pageTitle="About Me">
  <h2>Here are a few facts about me:</h2>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I am currently a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <h2>My skills are:</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>
    I am a young professional based in Colorado. My strengths lie in strong
    written and verbal communication, a capacity for empathy, and meticulous
    attention to detail.
  </p>
  <p>
    I strongly believe in community values and togetherness. I am motivated by
    the idea of amplifying each other's voices.
  </p>
  <p>
    My goal is to enhance cybersecurity by fostering collaboration within the
    community and bringing about positive change. I am eager to contribute to a
    role that values its people and their ideas.
  </p><p>Thank you for reading!</p>
</BaseLayout>
